
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #cce1ff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.top-nav-pane {
    /*position: fixed;*/
    /*top: 0;*/
    /*right: 0;*/
    /*z-index: 1000;*/
    /*margin: 10px;*/
    display: flex;
    justify-content: flex-end;
}

.top-nav-pane a {
    margin: 5px;
}

.nav-pane {
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s;
    z-index: 1000;
}

.nav-pane a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.nav-pane a:hover {
    background-color: #575757;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}