
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #cce1ff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.top-nav-pane {
    display: flex;
    justify-content: flex-end;
}

.top-nav-pane a {
    margin: 5px;
}
